{% set route = app.request.get('_route') %}

<div id="sticky-nav" uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: navbar-active-white uk-navbar-sticky; cls-inactive: uk-navbar-transparent; top: 200">

       <nav id="mainnav" class="uk-navbar-container" uk-navbar>
             <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="{{ path('home') }}" class="transition-website"><img id="mainlogo-nav" src="{{ asset('assets/components/logo.svg') }}" width="120" uk-img alt=""></a></li>
        </ul>

    </div>

    <div class="uk-navbar-center uk-visible@s">

      <ul class="uk-navbar-nav">
          <li><a href="{{ path('services-admin') }}" class="{{ route starts with 'services-admin' ? 'active' }} transition-website">Administración</a></li>
            <li><a href="{{ path('services-juridico') }}" class="{{ route starts with 'services-juridico' ? 'active' }} transition-website">Jurídico</a></li>
              <li><a href="{{ path('pricing') }}" class="{{ route starts with 'pricing' ? 'active' }} transition-website">Planes</a></li>
                <li><a href="{{ path('blog') }}" class="{{ route starts with 'blog' ? 'active' }} transition-website">Blog</a></li>
      </ul>

    </div>

    <div class="uk-navbar-right uk-visible@s">

        <div class="uk-navbar-item">
            <a class="link-style-b transition-website" href="{{ path('say') }}">Say TeamWork</a>
        </div>

        <div class="uk-navbar-item uk-visible@m">
            <a class="link-style-a transition-website" href="{{ path('contact') }}">Contáctanos</a>
        </div>
           </div>

           <div class="uk-navbar-right uk-hidden@s">
                   <a class="uk-navbar-toggle" uk-toggle uk-navbar-toggle-icon href="#my-id"></a>
               </div>

       </nav>
   </div>
